In [38]:
def reverse(x):
    if x < -2**31 or x > 2**31-1:
        return 0
    
    if x <=0:
        y = -1*int(str(x*-1)[::-1])
        return y
        
    elif x >0:
        y = int(str(x)[::-1])
    
        
        return y

In [40]:
reverse(1534236469)

9646324351

In [48]:
def fizzBuzz(n):
        
        a = []
        
        for i in range(1,n):
            
            if i%3==0 and i%5!=0:
                a.append("Fizz")
            elif i%3!=0 and i%5==0:
                a.append("Buzz")
            elif i%15==0:
                a.append("FizzBuzz")
            else:
                a.append(str(i))
        return a

In [50]:
fizzBuzz(1)

[]

In [86]:
def maxProfit(prices):
    
    if sorted(prices,reverse=True)==prices:
        return 0
    
    min_price = prices[0]
    max_profit = 0
    length = len(prices)
        
    for i in range(length):   
        min_price = min(prices[i], min_price)
        comparison_profit = prices[i]-min_price
        max_profit = max(comparison_profit,max_profit)
    return max_profit

In [88]:
maxProfit([7,1,5,3,6,4])

5

In [90]:
prices = [7, 6, 5, 4, 3, 1]
list(zip(prices, prices[1:]))

[(7, 6), (6, 5), (5, 4), (4, 3), (3, 1)]

In [85]:
prices = [7, 6, 5, 4, 3, 1]
if prices.sort(reverse=True)==prices:
    print(1)

In [ ]:
prices = [7,1,5,3,6,4]

In [31]:
z = z.join(y[2])
z

'3'

In [33]:
y = str(1234)
y[::-1]

'4321'

In [43]:
12%3

0

In [44]:
list(range(2))

[0, 1]

In [45]:
s = [1,2,3]
a = []
a.append(s[0])

In [47]:
a.append(s[1])
a

[1, 2]

NameError: name 'sort' is not defined

In [92]:
y = [7,1,5,5,6,4]
#y.sort(reverse=True)
y.count(5)

2

In [74]:
sorted()

[7, 6, 5, 4, 3, 1]

In [16]:
def merge(nums1, m, nums2, n):
        """
        Do not return anything, modify nums1 in-place instead.
        """
        #nums1 = nums1[:m]
       # nums2 = nums2[:n]
        #nums1 = nums1[:m].extend(nums2)
        #nums1.sort()
        nums1[:] = sorted(nums1[:m]+nums2)
        
        return nums1

In [17]:
nums1 = [1,2,3,0,0,0]
m =3
nums2 = [2,5,6]
n = 3

In [18]:
merge(nums1, m, nums2, n)

[1, 2, 2, 3, 5, 6]